<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cybertech.dao.AppCertMapper">
  <resultMap id="BaseResultMap" type="cn.com.cybertech.model.AppCert">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="cert_id" jdbcType="VARCHAR" property="certId" />
    <result column="cert_key" jdbcType="VARCHAR" property="certKey" />
    <result column="cert_secret" jdbcType="VARCHAR" property="certSecret" />
    <result column="cert_name" jdbcType="VARCHAR" property="certName" />
    <result column="apk_name" jdbcType="VARCHAR" property="apkName" />
    <result column="cert_environ" jdbcType="INTEGER" property="certEnviron" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cert_file" jdbcType="LONGVARBINARY" property="certFile" />
    <result column="key_file" jdbcType="LONGVARBINARY" property="keyFile" />
    <result column="cert_suffix" jdbcType="VARCHAR" property="certSuffix" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_id, type, cert_id, cert_key, cert_secret, cert_name, apk_name, version, state,
    create_time, update_time, cert_file, key_file, cert_suffix, cert_environ
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sdk_app_cert
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sdk_app_cert
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertAppCert" parameterType="cn.com.cybertech.model.AppCert">
    insert into sdk_app_cert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="certId != null">
        cert_id,
      </if>
      <if test="certKey != null">
        cert_key,
      </if>
      <if test="certSecret != null">
        cert_secret,
      </if>
      <if test="certName != null">
        cert_name,
      </if>
      <if test="apkName != null">
        apk_name,
      </if>
      <if test="certFile != null">
        cert_file,
      </if>
      <if test="keyFile != null">
        key_file,
      </if>
      <if test="certSuffix != null">
        cert_suffix,
      </if>
      <if test="certEnviron != null">
        cert_environ,
      </if>
        version, state, create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="certId != null">
        #{certId,jdbcType=VARCHAR},
      </if>
      <if test="certKey != null">
        #{certKey,jdbcType=VARCHAR},
      </if>
      <if test="certSecret != null">
        #{certSecret,jdbcType=VARCHAR},
      </if>
      <if test="certName != null">
        #{certName,jdbcType=VARCHAR},
      </if>
      <if test="apkName != null">
        #{apkName,jdbcType=VARCHAR},
      </if>
      <if test="certFile != null">
        #{certFile,jdbcType=LONGVARBINARY},
      </if>
      <if test="keyFile != null">
        #{keyFile,jdbcType=LONGVARBINARY},
      </if>
      <if test="certSuffix != null">
        #{certSuffix},
      </if>
      <if test="certEnviron != null">
        #{certEnviron},
      </if>
      1,1,sysdate()
    </trim>
  </insert>
  <update id="updateAppCert" parameterType="cn.com.cybertech.model.AppCert">
    update sdk_app_cert
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="certId != null">
        cert_id = #{certId,jdbcType=VARCHAR},
      </if>
      <if test="certKey != null">
        cert_key = #{certKey,jdbcType=VARCHAR},
      </if>
      <if test="certSecret != null">
        cert_secret = #{certSecret,jdbcType=VARCHAR},
      </if>
      <if test="certName != null">
        cert_name = #{certName,jdbcType=VARCHAR},
      </if>
      <if test="apkName != null">
        apk_name = #{apkName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="certFile != null">
        cert_file = #{certFile,jdbcType=LONGVARBINARY},
      </if>
      <if test="keyFile != null">
        key_file = #{keyFile,jdbcType=LONGVARBINARY},
      </if>
      <if test="certSuffix != null">
        cert_suffix = #{certSuffix,jdbcType=LONGVARBINARY},
      </if>
      <if test="certEnviron != null">
        cert_environ = #{certEnviron},
      </if>
        version = + 1,
        update_time = sysdate()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="sql_where">
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="appId != null">
         and app_id = #{appId,jdbcType=INTEGER}
      </if>
      <if test="type != null and type !=''">
         and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="certId != null and certId !=''">
         and cert_id = #{certId,jdbcType=VARCHAR}
      </if>
      <if test="certKey != null and certKey !=''">
         and cert_key = #{certKey,jdbcType=VARCHAR}
      </if>
      <if test="certSecret != null and certSecret !=''">
         and cert_secret = #{certSecret,jdbcType=VARCHAR}
      </if>
      <if test="certName != null and certName !=''">
         and cert_name = #{certName,jdbcType=VARCHAR}
      </if>
      <if test="apkName != null and apkName !=''">
         and apk_name = #{apkName,jdbcType=VARCHAR}
      </if>
      <if test="version != null">
         and version = #{version,jdbcType=INTEGER}
      </if>
      <if test="state != null">
         and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="getList" parameterType="cn.com.cybertech.model.AppCert" resultMap="BaseResultMap">
     select * from sdk_app_cert
    <include refid="sql_where" />
  </select>

  <select id="getAppCertList" parameterType="cn.com.cybertech.model.AppCert" resultMap="BaseResultMap">
     SELECT sac.*,aa.name app_name FROM sdk_app_cert sac
     LEFT JOIN app_app aa on sac.app_id=aa.id where sac.app_id=#{appId}
  </select>

  <select id="getAppCertIdsByAppId" parameterType="int" resultType="int">
     SELECT count(id) FROM sdk_app_cert  where app_id=#{appId}
  </select>
</mapper>