<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cybertech.dao.AppInfoMapper">
    <resultMap id="BaseResultMap" type="cn.com.cybertech.model.AppInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="app_code" jdbcType="VARCHAR" property="appCode"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="operator_id" jdbcType="INTEGER" property="operatorId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="app_secret" jdbcType="VARCHAR" property="appSecret"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, app_code, type, introduction, operator_id, state, create_time, update_time, 
    app_id, app_secret, company_id
  </sql>
    <select id="getAppInfoById" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_app
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="int">
    delete from app_app
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insertAppInfo" parameterType="cn.com.cybertech.model.AppInfo">
        insert into app_app
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="appCode != null">
                app_code,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="operatorId != null">
                operator_id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="appSecret != null">
                app_secret,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="appCode != null">
                #{appCode,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="operatorId != null">
                #{operatorId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="appSecret != null">
                #{appSecret,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateAppInfo" parameterType="cn.com.cybertech.model.AppInfo">
        update app_app
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appSecret != null">
                app_secret = #{appSecret,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="sql_where">
        <if test="userId != null and userId !=''">
            and swua.user_id =#{userId}
        </if>
        <if test="appId != null and appId !=''">
            and aa.app_id = #{appId}
        </if>
        <if test="name != null and name !=''">
            <bind name="nameSec" value="'%' + name + '%'" />
            and aa.name LIKE #{nameSec}
        </if>
        <if test="state != null">
            and aa.state = #{state}
        </if>
    </sql>

    <select id="getAppInfoCount" parameterType="cn.com.cybertech.model.AppInfo" resultType="int">
        SELECT count(aa.id) FROM app_app aa left JOIN sdk_web_user_app swua on aa.id = swua.app_id
        WHERE aa.company_id=#{companyId}
        <include refid="sql_where"/>
    </select>

    <select id="getAppInfoList" parameterType="cn.com.cybertech.model.AppInfo" resultMap="BaseResultMap">
        SELECT aa.* FROM app_app aa left JOIN sdk_web_user_app swua on aa.id = swua.app_id
        WHERE aa.company_id=#{companyId}
        <include refid="sql_where"/>
        <if test="pageSize > 0 ">
            limit #{pageNum},#{pageSize}
        </if>
    </select>

    <select id="queryAppByAppId" parameterType="string" resultMap="BaseResultMap">
     select * from app_app where app_id=#{appId}
  </select>

    <select id="queryUserAppInfo" parameterType="map" resultType="string">
     select app_id from sdk_web_user_app WHERE user_id =#{userId} and company_id=#{companyId}
  </select>

    <update id="updateAppInfoState" parameterType="cn.com.cybertech.model.AppInfo">
        update app_app
        set state = #{state}, update_time = sysdate()
        where id = #{id}
  </update>
</mapper>