<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cybertech.dao.CompanyInfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.cybertech.model.CompanyInfo">
    <id column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_licence" jdbcType="VARCHAR" property="companyLicence" />
    <result column="company_licence_url" jdbcType="VARCHAR" property="companyLicenceUrl" />
    <result column="company_status" jdbcType="INTEGER" property="companyStatus" />
    <result column="company_status_time" jdbcType="TIMESTAMP" property="companyStatusTime" />
    <result column="company_apply_time" jdbcType="TIMESTAMP" property="companyApplyTime" />
    <result column="company_deleted" jdbcType="INTEGER" property="companyDeleted" />
    <result column="company_deleted_time" jdbcType="TIMESTAMP" property="companyDeletedTime" />
    <result column="company_remark" jdbcType="VARCHAR" property="companyRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, company_name, company_licence, company_licence_url, company_status, company_status_time, 
    company_apply_time, company_deleted, company_deleted_time, company_remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sg_td_company
    where company_id = #{companyId,jdbcType=INTEGER}
  </select>

  <select id="selectCompanyByPhone" parameterType="string" resultMap="BaseResultMap">
    SELECT * FROM sg_td_company WHERE
	company_id IN ( SELECT company_id FROM sg_web_user WHERE phone = #{phone} )
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sg_td_company
    where company_id = #{companyId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="cn.com.cybertech.model.CompanyInfo">
    insert into sg_td_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyLicence != null">
        company_licence,
      </if>
      <if test="companyLicenceUrl != null">
        company_licence_url,
      </if>
      <if test="companyStatus != null">
        company_status,
      </if>
      <if test="companyStatusTime != null">
        company_status_time,
      </if>
      <if test="companyApplyTime != null">
        company_apply_time,
      </if>
      <if test="companyDeleted != null">
        company_deleted,
      </if>
      <if test="companyDeletedTime != null">
        company_deleted_time,
      </if>
      <if test="companyRemark != null">
        company_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyLicence != null">
        #{companyLicence,jdbcType=VARCHAR},
      </if>
      <if test="companyLicenceUrl != null">
        #{companyLicenceUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyStatus != null">
        #{companyStatus,jdbcType=INTEGER},
      </if>
      <if test="companyStatusTime != null">
        #{companyStatusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyApplyTime != null">
        #{companyApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyDeleted != null">
        #{companyDeleted,jdbcType=INTEGER},
      </if>
      <if test="companyDeletedTime != null">
        #{companyDeletedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyRemark != null">
        #{companyRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.cybertech.model.CompanyInfo">
    update sg_td_company
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyLicence != null">
        company_licence = #{companyLicence,jdbcType=VARCHAR},
      </if>
      <if test="companyLicenceUrl != null">
        company_licence_url = #{companyLicenceUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyStatus != null">
        company_status = #{companyStatus,jdbcType=INTEGER},
      </if>
      <if test="companyStatusTime != null">
        company_status_time = #{companyStatusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyApplyTime != null">
        company_apply_time = #{companyApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyDeleted != null">
        company_deleted = #{companyDeleted,jdbcType=INTEGER},
      </if>
      <if test="companyDeletedTime != null">
        company_deleted_time = #{companyDeletedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyRemark != null">
        company_remark = #{companyRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
  </update>
  <sql id="sql_where">
    <where>
      <if test="companyId != null">
         and company_id = #{companyId,jdbcType=INTEGER}
      </if>
      <if test="companyName != null and companyName !=''">
         and company_name = #{companyName,jdbcType=VARCHAR}
      </if>
      <if test="companyLicence != null and companyLicence !=''">
         and company_licence = #{companyLicence,jdbcType=VARCHAR}
      </if>
      <if test="companyLicenceUrl != null and companyLicenceUrl !=''">
         and company_licence_url = #{companyLicenceUrl,jdbcType=VARCHAR}
      </if>
      <if test="companyStatus != null">
         and company_status = #{companyStatus,jdbcType=INTEGER}
      </if>
      <if test="companyStatusTime != null">
         and company_status_time = #{companyStatusTime,jdbcType=TIMESTAMP}
      </if>
      <if test="companyApplyTime != null">
         and company_apply_time = #{companyApplyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="companyDeleted != null">
         and company_deleted = #{companyDeleted,jdbcType=INTEGER}
      </if>
      <if test="companyDeletedTime != null">
         and company_deleted_time = #{companyDeletedTime,jdbcType=TIMESTAMP}
      </if>
      <if test="companyRemark != null and companyRemark !=''">
         and company_remark = #{companyRemark,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="getList" parameterType="cn.com.cybertech.model.CompanyInfo" resultMap="BaseResultMap">
     select * from sg_td_company
    <include refid="sql_where" />
  </select>
</mapper>