<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cybertech.dao.ExternalPushMapper" >
  <resultMap id="BaseResultMap" type="cn.com.cybertech.model.ExternalPush" >
    <id column="MSG_UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="MSG_FROM" property="from" jdbcType="VARCHAR" />
    <result column="MSG_CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TO_PACKAGE" property="pkg" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    MSG_UUID, MSG_FROM, MSG_CONTENT, TO_PACKAGE, APP_ID
  </sql>
  <select id="getExternalPushByUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from web_external_push
    where MSG_UUID = #{msgUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from web_external_push
    where MSG_UUID = #{msgUuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="cn.com.cybertech.model.ExternalPush" >
    insert into web_external_push
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null" >
        MSG_UUID,
      </if>
      <if test="from != null" >
        MSG_FROM,
      </if>
      <if test="content != null" >
        MSG_CONTENT,
      </if>
      <if test="pkg != null" >
        TO_PACKAGE,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="from != null" >
        #{from,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        #{pkg,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.cybertech.model.ExternalPush" >
    update web_external_push
    <set >
      <if test="from != null" >
        MSG_FROM = #{from,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        MSG_CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        TO_PACKAGE = #{pkg,jdbcType=VARCHAR},
      </if>
    </set>
    where MSG_UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <sql id="sql_where" >
    <where >
      <if test="msgUuid != null and msgUuid !=''" >
        and MSG_UUID = #{uuid,jdbcType=VARCHAR}
      </if>
      <if test="msgFrom != null and msgFrom !=''" >
        and MSG_FROM = #{from,jdbcType=VARCHAR}
      </if>
      <if test="msgContent != null and msgContent !=''" >
        and MSG_CONTENT = #{content,jdbcType=VARCHAR}
      </if>
      <if test="toPackage != null and toPackage !=''" >
        and TO_PACKAGE = #{pkg,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <select id="getList" resultMap="BaseResultMap" parameterType="cn.com.cybertech.model.ExternalPush" >
    select * from web_external_push
    <include refid="sql_where" />
  </select>

  <select id="getByuuids" resultMap="BaseResultMap">
    select * from web_external_push where MSG_UUID in
    <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
</mapper>