<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cybertech.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="cn.com.cybertech.model.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, password, nick_name, role_id, remark, state, create_time, update_time
  </sql>
  <select id="getSysUserById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sdk_sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteSysUserById" parameterType="java.lang.Long">
    delete from sdk_sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSysUser" parameterType="cn.com.cybertech.model.SysUser">
    insert into sdk_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
        state,create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      1,sysdate()
    </trim>
  </insert>
  <update id="updateSysUser" parameterType="cn.com.cybertech.model.SysUser">
    update sdk_sys_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = sysdate()
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="sql_where">
    <where>
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="userName != null and userName !=''">
         and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password !=''">
         and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="nickName != null and nickName !=''">
         and nick_name = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="roleId != null">
         and role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="remark != null and remark !=''">
         and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="state != null">
         and state = #{state,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="getList" parameterType="cn.com.cybertech.model.SysUser" resultMap="BaseResultMap">
     select * from sdk_sys_user
    <include refid="sql_where" />
  </select>

  <select id="getSysUserByUserName" parameterType="string" resultMap="BaseResultMap">
    SELECT id, user_name, password, nick_name, role_id, state
    FROM sdk_sys_user  WHERE user_name = #{userName}
  </select>

  <update id="updateSysUserPassByUserName" parameterType="map">
        update sdk_sys_user set  password = #{password} , update_time = sysdate()
        where  user_name = #{userName}
    </update>
</mapper>