<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cybertech.dao.WebCompanyMapper">
    <resultMap id="BaseResultMap" type="cn.com.cybertech.model.WebCompany">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="company_name" property="companyName"/>
        <result column="company_code" property="companyCode"/>
        <result column="introduction" property="introduction"/>
        <result column="owner" property="owner"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, company_name, company_code, introduction, owner, state, create_time, update_time
  </sql>
    <select id="getWebCompanyById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdk_web_company
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteWebCompanyById" parameterType="java.lang.Integer">
    delete from sdk_web_company
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertWebCompany" parameterType="cn.com.cybertech.model.WebCompany" useGeneratedKeys="true"
            keyProperty="id">
        insert into sdk_web_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            owner,
            state,
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
            #{owner},0,SYSDATE()
        </trim>
    </insert>

    <update id="updateWebCompany" parameterType="cn.com.cybertech.model.WebCompany">
        update sdk_web_company
        <set>
            <if test="companyName != null">
                company_name = #{companyName},
            </if>
            <if test="owner != null">
                owner = #{owner},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            update_user = #{updateUser},
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>
    <sql id="sql_where">
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="companyName != null and companyName !=''">
                <bind name="companyNameSec" value="'%' + companyName + '%'"/>
                and company_name LIKE #{companyNameSec}
            </if>
            <if test="introduction != null and introduction !=''">
                and introduction = #{introduction,jdbcType=VARCHAR}
            </if>
            <if test="owner != null">
                and owner = #{owner}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </sql>
    <select id="getWebCompanyList" parameterType="cn.com.cybertech.model.WebCompany" resultMap="BaseResultMap">
        select * from sdk_web_company
        <include refid="sql_where"/>
    </select>

    <select id="getWebCompanyByUserName" parameterType="string" resultMap="BaseResultMap">
   SELECT swc.* FROM sdk_web_company swc left join sdk_web_user swu on swc.id=swu.company_id
   WHERE swu.user_name = #{userName}
  </select>

    <select id="checkWebCompanyByOwner" parameterType="map" resultType="int">
    SELECT count(id) FROM sdk_web_company WHERE id = #{id} and owner = #{owner}
  </select>
</mapper>