<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cybertech.dao.WebRoleMapper">
    <resultMap id="BaseResultMap" type="cn.com.cybertech.model.WebRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_code, role_name, introduction
  </sql>
    <select id="getWebRoleByCode" parameterType="string" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from sdk_web_role
        where role_code = #{roleCode}
    </select>
    <delete id="deleteRoleById" parameterType="java.lang.Integer">
    delete from sdk_web_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertWebRole" parameterType="cn.com.cybertech.model.WebRole"  useGeneratedKeys="true" keyProperty="id">
        insert into sdk_web_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                #{introduction,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateWebRole" parameterType="cn.com.cybertech.model.WebRole">
        update sdk_web_role
        <set>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <sql id="sql_where">
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="roleCode != null and roleCode !=''">
                and role_code = #{roleCode,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null and roleName !=''">
                and role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="introduction != null and introduction !=''">
                and introduction = #{introduction,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <select id="getRoleList" parameterType="cn.com.cybertech.model.WebRole" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from sdk_web_role
        <include refid="sql_where"/>
    </select>

    <select id="getCompanyRoleList" resultMap="BaseResultMap">
     select <include refid="Base_Column_List"/> from sdk_web_role where id > 1
  </select>

    <!--删除角色权限对应关系-->
    <delete id="deleteRolePerm" parameterType="int">
     delete from sdk_web_role_perm where role_id = #{roleId}
    </delete>

    <!--增加角色权限对应关系-->
    <insert id="addRolePerm" parameterType="cn.com.cybertech.model.WebRole">
        INSERT INTO sdk_web_role_perm(role_id, perimission_id)
        VALUES
        <foreach collection="permissions" item="perm" separator=",">
            (#{id},#{perm})
        </foreach>
    </insert>
</mapper>