<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cybertech.dao.WebUserMapper">
    <resultMap id="BaseResultMap" type="cn.com.cybertech.model.WebUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_name, password, nick_name, email, company_id, role_id, state, remark, create_time,
    update_time
  </sql>
    <select id="getWebUserById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sdk_web_user
        where id = #{id}
    </select>

    <delete id="deleteWebUserById" parameterType="java.lang.Long">
    delete from sdk_web_user where id = #{id}
    </delete>

    <insert id="insertWebUser" parameterType="cn.com.cybertech.model.WebUser" useGeneratedKeys="true" keyProperty="id">
        insert into sdk_web_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            state,create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            1,sysdate()
        </trim>
    </insert>
    <update id="updateWebUser" parameterType="cn.com.cybertech.model.WebUser">
        update sdk_web_user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            update_time = sysdate()
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <sql id="sql_where">
            <if test="id != null">
                and swu.id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userName != null and userName !=''">
                and swu.user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="nickName != null and nickName !=''">
                <bind name="nickNameSec" value="'%' + nickName + '%'" />
                and swu.nick_name  LIKE  #{nickNameSec}
            </if>
            <if test="companyId != null">
                and swu.company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="state != null">
                and swu.state = #{state,jdbcType=INTEGER}
            </if>
    </sql>
    <select id="getList" parameterType="cn.com.cybertech.model.WebUser" resultMap="BaseResultMap">
       SELECT swu.* FROM sdk_web_user swu LEFT JOIN sdk_web_role swr
       on swu.role_id =swr.id
       WHERE swr.role_type != 'sys' <include refid="sql_where"/>
       order by swu.id
    </select>

    <select id="getWebUserByUserName" parameterType="map" resultMap="BaseResultMap">
        SELECT swu.id, swu.user_name, swu.password, swu.nick_name, swu.company_id, swu.role_id, swu.state
        FROM sdk_web_user swu WHERE swu.user_name = #{userName}
        <choose>
            <when test="companyId != null">
                AND swu.company_id= #{companyId}
            </when>
            <otherwise>
                group by swu.user_name
            </otherwise>
        </choose>
    </select>

    <!--查询：根据appId查询是否有用户绑定-->
    <select id="getUserAppByAppId" parameterType="int" resultType="string">
      SELECT GROUP_CONCAT(swu.user_name)  FROM sdk_web_user swu
       LEFT JOIN sdk_web_user_app swa on swu.id =swa.user_id
       WHERE swa.app_id = #{appId}
    </select>

    <!--查询：用户绑定应用-->
    <select id="getUserApp" parameterType="map" resultType="int">
        SELECT swua.app_id FROM app_app aa LEFT JOIN sdk_web_user_app swua ON aa.id = swua.app_id
        WHERE swua.user_id = #{userId}  AND swua.company_id = #{companyId}  AND aa.state =2
    </select>

    <!--新增：用户绑定应用-->
    <insert id="insertUserApp" parameterType="map">
        INSERT INTO sdk_web_user_app(user_id,company_id,app_id)
        VALUES
        <foreach collection="appIds" item="appId" separator=",">
            (#{userId},#{companyId},#{appId})
        </foreach>
    </insert>

    <!--删除：用户绑定应用-->
    <delete id="deleteUserApp" parameterType="map">
        delete  FROM sdk_web_user_app WHERE user_id = #{userId} and company_id=#{companyId}
    </delete>

    <!--根据角色查询用户-->
    <select id="getWebUserByRoleId" parameterType="int" resultType="int">
        SELECT count(id) FROM sdk_web_user WHERE role_id = #{roleId}
    </select>

    <update id="updateUserPassByUserName" parameterType="map">
        update sdk_web_user set  password = #{password} , update_time = sysdate()
        where  user_name = #{userName}
    </update>

</mapper>